.content__users-list {
  width: 420px;

  .content__user-item {
    background: #f3f3f3;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;

    p {
      margin: 0;
      margin-bottom: 7px;
      font-weight: 400;
      font-size: 11px;

      span {
        margin-right: 7px;
        color: #a3a3a3;
      }
    }

    .user__link {
      display: flex;
      justify-content: space-between;
      height: 14px;

      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
